<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        * {
            box-sizing: border-box;
        }
        body {
            font-family: sans-serif;
            color: #484746;
            font-size: 13px;
            line-height: 1.2em;
        }
        .footer {
            margin: 0px 0px 40px 0px;
            text-align: center;
        }
        .image {
            width: 100%;
            display: block;
        }
    </style>
</head>
<body>
    <p class="footer">
    </p>
</body>
</html>